
    <section class="p-3">
        <h1 class="h3 text-center text-main fw-bolder">brand detalis</h1>
        <div class="row  align-items-center justify-content-between">
            <div class="col-md-4 product">
                <img [src]="brandsDetils?.image" class="w-100" [alt]="brandsDetils?.name">
            </div>
            <div class="col-md-4">
                <h2 class="text-main fw-bolder h5">{{brandsDetils?.name}}</h2>
            </div>

        </div>

       

       
       


       
    </section> 

