@if (
step == 1
) {
    <section class="p-3">
        <h1 class="text-main text-center h4">forget password:</h1>
        <div class="contaner bg-main-light shadow m-2  p-4 rounded-4">
          
            <form [formGroup]="verifayEmail" (ngSubmit)="varifayEmailSubmit()">
               <div class="my-2">
                <label for="email">email</label>
                <input type="email" id="email" class="form-control " formControlName="email"  >
               </div>
    
               <div class=" d-flex align-items-center justify-content-end gap-4">
    
                <button [disabled]="verifayEmail.invalid" type="submit" class="btn-main  m-2"   >varifay email
    
                    
                </button>
    
               </div>
    
            </form>
        </div>
    </section>
}


@if (step ==2) {
    <section class="p-3">
        <h1 class="text-main text-center h4">forget password:</h1>
        <div class="contaner bg-main-light shadow m-2  p-4 rounded-4">
           
            <form [formGroup]="verifayCode" (ngSubmit)="varifayCodeSubmit()">
                <label for="resetCode">resetCode</label>
                <input type="text" id="resetCode" class="form-control " formControlName="resetCode"  >
          
                <!-- <label for="password">password</label>
                <input type="password" id="password" class="form-control " formControlName="password"  > -->
    
               <div class=" d-flex align-items-center justify-content-end gap-4">
    
                <button [disabled]="verifayCode.invalid" type="submit" class="btn-main  m-2">varifay code
    
                    
                </button>
    
               </div>
    
            </form>
        </div>
    </section>
}


@if (step ==3
) {
    <section class="p-3">
        <h1 class="text-main text-center h4">forget password:</h1>
        <div class="contaner bg-main-light shadow m-2  p-4 rounded-4">
           
            <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" >
                <label for="email">email</label>
                <input readonly type="email" id="email" class="form-control " formControlName="email"  >
          
                <label for="newPassword">newPassword</label>
                <input type="password" id="newPassword" class="form-control " formControlName="newPassword"  >
    
               <div class=" d-flex align-items-center justify-content-end gap-4">
    
                <button [disabled]="resetPassword.invalid" type="submit" class="btn-main  m-2">log in
    
                    
                </button>
    
               </div>
    
            </form>
        </div>
    </section>
}